<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with TexturePacker http://www.codeandweb.com/texturepacker-->
<!-- $TexturePacker:SmartUpdate:23b6e9aae22674d693a8f28c60cc78b5:1a9a1e2c7592bcaebc7234d3a602b93f:a2a580ab863b2e73f5f9bd7baa1335cd$ -->
<TextureAtlas imagePath="settings.atf" width="512" height="1024">
    <SubTexture name="back" x="1" y="1" width="505" height="504"/>
    <SubTexture name="close_bn_down" x="216" y="626" rotated="true" width="64" height="213" frameX="0" frameY="0" frameWidth="213" frameHeight="66"/>
    <SubTexture name="close_bn_normal" x="1" y="626" width="213" height="66"/>
    <SubTexture name="god_mode_normal" x="301" y="595" rotated="true" width="24" height="23" frameX="-4" frameY="-3" frameWidth="30" frameHeight="30"/>
    <SubTexture name="god_mode_selected" x="272" y="595" rotated="true" width="27" height="26" frameX="-1" frameY="0" frameWidth="30" frameHeight="30"/>
    <SubTexture name="music_off_normal" x="327" y="507" width="85" height="85"/>
    <SubTexture name="music_off_selected" x="414" y="507" width="85" height="85"/>
    <SubTexture name="scroller_back" x="1" y="507" width="324" height="86"/>
    <SubTexture name="scroller_bar" x="1" y="595" width="269" height="29" frameX="-27" frameY="-28" frameWidth="324" frameHeight="86"/>
    <SubTexture name="sound_off_normal" x="327" y="594" width="85" height="85"/>
    <SubTexture name="sound_off_selected" x="414" y="594" width="85" height="85"/>
</TextureAtlas>
